*{
	margin: 0; 
	padding: 0;
	text-transform: capitalize;
	box-sizing: border-box;
}

body
{
	width: 100%;
	height: 100vh;
	background: linear-gradient(yellow,lightblue,lightgreen)
}

.mainbox
{
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.heading
{
	color: red;
	text-align: center;
}

.task1
{
	width: 100%;
	padding: 5px;
	color: yellow;
	display: flex;
	flex-direction: row-reverse;
	font-size: x-large;
	background-color: green;

}


.task2
{
	width: 100%;
	padding: 5px;
	display: flex;
	flex-direction: row-reverse;
	color: blue;
	font-size: x-large;
	background-color: lightgreen;
}

label
{
	width: 97%;
}

input[type="checkbox"]
{
	align-self: flex-end;
	top: 5px;
    right: 5px;
}

input[type="checkbox"]:checked+label
{
	text-decoration: line-through;
	color: black;
	font-style: italic;
}

@media(max-width: 1400px)
{
	.box
{
	width: 30vw;
	border: 3px solid red;

}

.heading
{
	border-bottom: 3px solid red;
	}
}
@media(max-width: 1200px)
{
	.box
{
	width: 50vw;
	border: 3px solid red;

}

.heading
{
	border-bottom: 3px solid red;
	}
}
@media(max-width: 800px)
{
	.box
{
	width: 70vw;
	border: 2px solid red;

}

.heading
{
	border-bottom: 2px solid red;
	}
}
